body{
  background-color: #010611;
}
.App {
  text-align: center;
  color: #fff;
  box-sizing:border-box;
  justify-content: center;
  align-items: baseline;
  background-color: #060b17;
}
#test{
  text-align: center;
  color: #fff;
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #010611;
}
.Home{
  color: #fff;
  font-size: 5vh;
  margin-left: 20vh;
}
.Games{
  color: #fff;
  font-size: 5vh;
  margin-right: 10vh;
}
.Career{
  color: #fff;
  font-size: 5vh;
  margin-left: 5vh;
}
.About{
  color: #fff;
  font-size: 5vh;
  margin-right: 20vh;
}
.Home:hover{
  color: #0011ff;
  font-size: 5vh;
  margin-left: 20vh;
}
.Games:hover{
  color: #0011ff;
  font-size: 5vh;
  margin-right: 10vh;
}
.Career:hover{
  color: #0011ff;
  font-size: 5vh;
  margin-left: 5vh;
}
.About:hover{
  color: #0011ff;
  font-size: 5vh;
  margin-right: 20vh;
}
.App-logo {
  height: 40vmin;
  
}
#home{
  display: flex;
  justify-content: space-between;
}
#about{
  right: 350px;
  display: flex;
}
#futurefeed{
  font-size: 5vh;
}
.Logo{
  height: 30vh;
}
.App-header {
  background-color: #062769;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3557ee;
}

