body{
  background-color: #010611;
}
.App {
  text-align: center;
  color: #fff;
  box-sizing:border-box;
  justify-content: center;
  align-items: baseline;
  background-color: #060b17;
}
#test{
  text-align: center;
  color: #fff;
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #010611;
}
.Home{
  color: #fff;
  font-size: 45px;
  margin-left: 200px;
}
.Games{
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
}
.Career{
  color: #fff;
  font-size: 45px;
  margin-left: 5px;
}
.About{
  color: #fff;
  font-size: 45px;
  margin-right: 200px;
}
.Home:hover{
  color: #0011ff;
  font-size: 5vh;
}
.Games:hover{
  color: #0011ff;
  font-size: 5vh;
}
.Career:hover{
  color: #0011ff;
  font-size: 5vh;
}
.About:hover{
  color: #0011ff;
  font-size: 5vh;
}

.App-logo {
  height: 40vmin;
  
}
#home{
  display: flex;
  justify-content: space-between;
}
#about{
  right: 350px;
  display: flex;
}
#futurefeed{
  font-size: 5vh;
}
.Logo{
  height: 300px;
}
.App-header {
  background-color: #062769;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3557ee;
}
@media only screen and (max-width: 1024px){

  .Home{
    margin-left: 100px;
  }
  .Games{
    margin-right: 2vh;
  }
  .Career{
    margin-left: 1vh;
  }
  .About{
    margin-right: 100px;
  }
  
}
@media only screen and (max-width: 794px){

  .Home{
    margin-left: 50px;
  }
  .Games{
    margin-right: 2vh;
  }
  .Career{
    margin-left: 1vh;
  }
  .About{
    margin-right: 50px;
  }
  
}
